body {
	font-family: Myriad Pro;
}
div {
	padding: 30px;
	border-radius: 15px;
	box-shadow: 4px 4px 2px #333;
}
#apple {
	float: left;
	width: 40%;
	background-color: #999;
}
#android {
	float: right;
	width: 40%;
	background-color: #393;
}