body {
	font-family: Myriad Pro;
}

div {
	padding: 30px;
	margin: 15px;
	border-radius: 15px;
	box-shadow: 3px 3px 5px #111;
}

#wrapper {
	width:800px;
	margin:auto;
	padding:30px;
}

#title {
	background-color: aqua;
	margin: 10%;
	width: 80%;
}

#apple {
	float: left;
	width: 40%;
	background-color: #999;
}

#android {
	float: right;
	width: 40%;
	background-color: #393;
}